* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style: none;
}
div img {
    display: block;
    width: 100%;
}

#layout {
    display: flex;
    flex-direction: column;
    max-width: 992px;
    margin: auto;
    width: 100vw;
    height: calc(100vh - 250px);
}

.flex-container {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100vw;
}

header {
    background: #122a57;
    height: 100px;
    display: flex;
    max-width: 992px;
    margin: auto;
    align-items: center;
    color: #fff;
}

header .list-items {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    max-width: 260px;
    width: 100%;
}

header .list-items, header .menu {
    justify-content: space-around;
}

.apresentacao {
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.apresentacao .texto {
    min-height: 200px;
    margin-left: 20px;
    margin: 0 0 0 40px;
}

.apresentacao .texto h1 {
    color: #122a57;
    font-size: 48px;
    margin-bottom: 10px;
}

.apresentacao .texto a {
    background: #122a57;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    width: 200px;
    display: block;
    height: 50px;
    line-height: 50px;
    margin: 10px 0;
    /* padding: 10px; */
}


#quemSomos {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#quemSomos h2 {
    font-size: 32px;
    color: #122a57;
    display: flex;
    margin: 20px 0;
}

#quemSomos h2::before {
    content: '';
    height: 35px;
    width: 5px;
    margin-right: 5px;
    background: #122a57;
    position: relative;
}

#quemSomos p {
    margin: 10px 0;
    width: 90%;
}

#quemSomos img {
    min-width: 420px;
}

.containerExterno {
    background: #122a57;
    width: 100%;
}

#servicos {
    flex-direction: column;
    padding: 50px 0 100px 0;
}

#servicos h2 {
    color: #fff;
    font-size: 32px;
    margin-bottom: 20px;
}

.listServiços {
    display: flex;
    justify-content: space-between;
    /* margin: 20px 50px; */
}

.itemServico {
    text-align: center;
}

.itemServico a {
    width: 220px;
    background: #fff;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
    padding: 5px 10px;
    color: #122a57;
    font: 700 12px Ubuntu, sans-serif;
}

.itemServico p {
    font: 700 18px Ubuntu, sans-serif;
    color: #fff;
    margin-top: 10px;
}

.itemServico img {
    width: 80%;
    margin: auto;
}

#planos {
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
}

.listPlanos {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    justify-content: space-around;
    align-items: flex-end;
}

.itemPlano {
    border: 2px solid #122a57;
    padding: 15px;
    color: #122a57;
}

.itemPlano li {
    /* list-style: circle; */
    list-style-type: disc;
    font: 400 10px Ubuntu, sans-serif;
    margin: 10px 0;
}
.itemPlano h3, .itemPlano a {
    display: flex; 
    justify-content: center;
}

.itemPlano a {
    color: #fff;
    background: #122a57;
    padding: 5px;
    border-radius: 10px;
    margin-top: 20px;
}

.titleText {
    border-bottom: 1px solid #122a57;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    color: #fff;
    height: 150px;
    background: #122a57;
}